body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: burlywood; */
}

.container
{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    background-color: aliceblue;
    border-radius: 25px;
    padding: 40px;
    /* height: 25rem; */
    
}

form{
    margin: 60px;
}